{%- with messages = get_flashed_messages(with_categories=true) -%}
    <p>{{ message }}</p>
  {% if messages %}
    <div class="flashes">
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{%- endwith %}
