{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="tags">
        {% for tag in tags %}
            <a class="btn btn-primary btn-sm" href="{{ url_for('posts.tag_detail', slug=tag.slug) }}" role="button">{{ tag.name }}</a>
        {% endfor %}
    </div>

    <div class="main-content">
        {{ post.body }}
    </div>
{% endblock %}
