<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hello World!</title>
</head>
<body>
    <h2>Hello, Алексей</h2>
    <h2>Hello, {{ n }}</h2>
</body>
</html>
