{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    Main page
{% endblock %}

{% block content %}
    <div class="offset-md-3 col-md-6">
        <p>Самый главный блог!</p>
    </div>
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <!-- <h2>Hello, {{ n }}</h2> -->
        <!-- </div> -->
    <!-- </div> -->
    
{% endblock %}
